# =====================
# Node / Development
# =====================
node_modules/
.env
.env.*
*.log


# =====================
# VS Code
# =====================
.vscode/


# =====================
# Adobe Files
# =====================
*.ai
*.psd
*.psb
*.indd
*.indb
*.indt


# =====================
# Adobe Export Files
# =====================
*.pdf


# =====================
# Presentation
# =====================
*.ppt
*.pptx
*.key


# =====================
# Mind Map
# =====================
*.xmind


# =====================
# Images / Media
# =====================
*.mp4
*.mov
*.avi


# =====================
# Temporary Files
# =====================
.DS_Store
Thumbs.db
*.tmp
*.bak